<html lang="en">
  <%- include("./partials/head.ejs") %>
<style>.delete{
    color: red;
  }
  .delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  }</style>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container d-flex align-items-center justify-content-center"
    style="min-height: 70vh"><div
          class="container border <%= task.finished?"border-dark": task.priority==1?"border-danger":task.priority==2?"border-warning":"border-light"  %> rounded"
        ><h3 class="date_deadline my-3"><%= task.date_deadline %> <%= task.time_deadline&& ("("+task.time_deadline+")") %></h3>
          <h4 class="title my-3"><%= task.task %></h4>
          <h4 class="priority my-3"></h4>
          <% if (task.note) { %>
            <p class="note my-3"><%= task.note %></p>
            <% } %>
            <a class="delete" data-doc="<%=task._id %>">delete</a>
            <a href="/mainpage">back</a>
            <a style="color:black" href="/create">edit</a>
        </div>
</div>

    <!-- <%- include("./partials/footer.ejs") %> -->

    <script>
      const trashcan = document.querySelector("a.delete");
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/mainpage/${trashcan.dataset.doc}`;
        console.log(endpoint)
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json()).then((data) => (window.location.href = data.redirect)).catch((err) => console.log(err));


      });
    </script>
  </body>
</html>
