<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div
          class="container border <%= task.finished?"border-dark": task.priority==1?"border-danger":task.priority==2?"border-warning":"border-light"  %> rounded"
        >
          <h4 class="title my-3"><%= task.task %></h4>
          <h4 class="priority my-3"></h4>
          <% if (task.comments) { %>
            <p class="comments my-3"><%= task.comments %></p>
            <% } %>
          <a class="delete border-danger" data.doc="<%= task._id  %> ">delete</a>
        </div>

    <!-- <%- include("./partials/footer.ejs") %> -->

    <script>
      const trashcan = document.querySelector("a.delete");
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/mainpage/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
